<div class="container">

  <div class="title-text">
    <div class="title-text__title">
      <span>NEPOKORNOST'</span>
      <p>-ASYMMETRY THROUGH A PERFECT STITCH-</p>
    </div>
    <div class="title-text__text">
      <span>
        С такой честной фотографии я решила начать наше знакомство.
Здравствуйте. Меня зовут Кристина.
На этом сайте вы увидите коллекцию моих вещей, локации и арт направление всех съемок выбираю я.
Дизайн этого сайта также плод моей работы.
Могу/хочу ли я называть себя дизайнером?
Я не знаю. Но я приняла решение
заниматься делом, которое я люблю.
        Заниматься любимым делом мне хотелось
под понятным и близким ко мне названием.
Я долго думала о нем. Было несколько вариантов и очень много сомнений.
Когда мы выбирали локацию для первой съемки был шторм. Я посмотрела на место и поняла, что хочу двигаться вместе
c одним из своих любимых слов.
      </span>
    </div>
  </div>

  <div class="main-img">
    <img src="assets/img/model_in_water.png" alt="model inside the see">
  </div>
</div>
